.header {
  display: block;
  padding: 3em 1.5em;
  align-items: center;
  color: #e2e8f0;
  margin-top: 10px;
}

.link {
  margin-right: 1.5em;
}

.a_link {
  text-decoration: none;
  color: #6ead3a;
}
.a_link:hover {
  color: blueviolet;
  transition: 0.3s;
}

.title {
  font-size: 36px;
}

.subtitle {
  margin-top: 12px;
  font-size: 24px;
}

.header_p {
  color: #94a3b8;
  margin-top: 16px;
}
